# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
**/.venv/
*.db
*.db-journal
*.sqlite
*.sqlite3

# Environment & Secrets
.env
**/.env
.env.*
!.env.example

# Node
node_modules/
**/node_modules/
dist/
**/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & Temp
.DS_Store
**/.DS_Store
Thumbs.db
*.tmp
*.log

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace